<% title @event.name %>

<h1 id="event_name"><%= @event.name -%></h1>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= render 'menu' %>

<div id="essentials" style="float: right">
	<a href="register">Register</a>	
	<ul>
		<li><%= @event.dates %></li>
		<li><%= @event.location %></li>
		<li>Redmond, WA</li>
	</ul>
</div>

<div id="event_description"><%=raw @event.description %></div>

